
/* for mobile devices */
@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-menus ul{
        flex-direction: column;
    }

    /* -----------------for banner section */
    .banner-container{
        flex-direction: column;
        gap: 30px;
        align-items: center;
        
    }
    .banner-text{
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        padding-left: 80px;
    }
    .banner-image{
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        align-content: center;
    }
    .games-heading{
        width: 100%;
        font-size: 20px;
    }

    .games-picture{
        width: 100%;
        flex-direction: column;
        grid-template-columns: 1fr;
    }
    .games-picture img{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
   .games-picture p{
    /* width: 80%; */
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
    display: block;
    margin: 0 auto;
   }

   /*------------------------------ play instantly */
    .play-instantly{
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        padding-left: 50px;
        
     }
     .play-instantly-text-container h3{
        font-size: 30px;
        text-align: center;
     }
     .play-instantly-text-container p{
        text-align: center;
     }

     .play-instantly-image-container{
        width: 80%;
        margin: 0 auto;
        justify-content: center;
        /* grid-template-columns: 1fr; */
     }
     .play-instantly-image-container .big-image{
        max-width: 100%;
     }
     .play-instantly-image-container .small-image{
    max-width: 100%;
     }

     /* games type container  */
     .games-type-container{
       width: 100%;
       justify-content: center;
       flex-wrap: wrap;
       align-items: center;
       
     } 
     .games-type{
        flex-basis: 150px;
        width: 300px; 
        height: 80px;
        gap:20px;
     }

    .footer-container{
        flex-direction: column;
        margin: 0 auto;
    }
    .about-section ul{
        flex-wrap: wrap;
    } 
    .terms-condition ul{
        flex-wrap: wrap;
    }
    .footer-image img{
        flex-wrap: wrap;
        align-content: center;
    } 
    .copy-write{
        flex-wrap: wrap;
    }
      
}



/******************************** for tablet or medium screen */
@media screen and (min-width: 576px) and (max-width:900px){

    body{
        width: 100%;
        margin: 0 auto;
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-menus ul{
        flex-direction: column;
    }

/* -----------------for banner section */
.banner-container{
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.banner-text{
    width: 80%;
    margin: 0 auto;
    padding-left: 300px;
    justify-content: center;
}
.banner-image{
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

/* for games section */

.games-picture{
    width: 100%;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
}
.games-picture img{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.games-picture p{
    padding-top: 20px;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    display: block;
    margin: 0 auto;
   }
/* ----------------------------------play instantly seciton */

.play-instantly{
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    
 }
 .play-instantly-image-container{
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    /* grid-template-columns: 1fr; */
 }
 .play-instantly-image-container .big-image{
    max-width: 90%;
 }
 .play-instantly-image-container .small-image{
max-width: 100%;
 }
 .play-instantly-text-container h3{
    /* text-align: center; */
font-size: 55px;
font-weight: 700;
}
.play-instantly-text-container p{
    color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
}

/* ------------------------------game type */
.games-type-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

footer{
    background: #0B0223;
    margin: 0 auto;
}

.footer-container{
    flex-direction: column;
}
.about-section ul{
    flex-wrap: wrap;
} 
.terms-condition ul{
    flex-wrap: wrap;
}
.footer-image img{
    flex-wrap: wrap;
    align-content: center;
} 
.copy-write{
    flex-wrap: wrap;
}

}